@import "foundation/components/global";

body {
    padding: 1rem;
    background: #fff;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.stacked {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
    img {
        height: 200px;
    }
}

.iconcontainer {
    line-height: 7rem;
}

.stack {
    position: relative;
    height: 20rem;
}

.buttons {
    user-select: none;
    cursor: pointer;
    font-size: 4rem;

    &.ion-heart {
        color: brown;
    }

    &.ion-close {
        color: grey;
    }
}


