@import "foundation/components/global";

body {
    padding: 1rem;
    background: #fff;
}

.stacked {
    position: absolute;
    height: 200px;
}

.stack {
    position: relative;
    height: 20rem;
}

.buttons {
    cursor: pointer;
    font-size: 4rem;
    user-select: none;

    &.ion-heart {
        color: brown;
    }

    &.ion-close {
        color: grey;
    }
}


